.item {
  box-sizing: border-box;
  border-radius: 5px;
  border-top: 3px solid var(--color-zeta);
  box-shadow: var(--box-shadow-secondary);
  height: 100%;
  margin: 15px 0;
  padding: 30px;
  position: relative;

  @media screen and (min-width: 480px) {
    margin: 0;
  }

  &__title {
    color: var(--color-gamma);
    margin: 0;
  }

  &__value {
    color: var(--color-delta);
    margin: 5px 0 15px;
  }

  &__diff {
    color: var(--color-eta);
    font-size: 0.95rem;
    position: relative;
    top: 2px;
  }

  &__description {
    color: var(--color-delta);
    margin: 0;
  }
}
