@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");

:root {
  --color-alpha: #fafafa;
  --color-beta: #fafafa;
  --color-gamma: #4c4e61;
  --color-delta: #a3a5ae;
  --color-epsilon: #45d3d3;
  --color-zeta: #549ef2;
  --color-eta: #ea5353;
  --color-theta: #005bbb;
  --color-kappa: #ffd500;

  --box-shadow-primary: 0 2px 4px 0 rgb(0 0 0 / 16%);
  --box-shadow-secondary: 0px 30px 40px -20px var(--color-delta);

  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

[theme="dark"] {
  --color-alpha: #252630;
  --color-beta: #393b49;
  --color-gamma: #ededef;
  --color-delta: #f6f6f7;
  --color-epsilon: #3ebebe;
  --color-zeta: #4c8eda;
  --color-eta: #d34b4b;
  --color-theta: #CD0000;
  --color-kappa: #1F1A17;

  --box-shadow-primary: 0 2px 4px 0 rgb(0, 0, 0);
  --box-shadow-secondary: inset -10px -10px 15px rgba(0, 0, 0, 0.5), inset 10px 10px 15px rgba(123, 123, 123, 0.12);
}

body {
  background-color: var(--color-alpha);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  transition: background 0.3s;
}

.transition {
  transition: .3s;
}
