@import "./../../assets/scss/variables";

.statistic {
  &__wrapper {
    padding: 0 15px;

    @media screen and (min-width: $md-min-screen) {
      padding-top: 180px;
    }
  }

  &__container {
    max-width: 1920px;
    margin: 0 auto;

    .last {
      display: none;
    }

    app-statistic-item {
      &:nth-child(even) ::ng-deep .item,
      &:last-child ::ng-deep .item {
        border-top-color: var(--color-epsilon);
      }
    }

    @media screen and (min-width: $sm-min-screen) {
      column-gap: 20px;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      justify-content: center;

      app-statistic-item {
        &:last-child ::ng-deep .item {
          border-top-color: var(--color-zeta);
        }

        &:nth-child(even) ::ng-deep .item {
          border-top-color: var(--color-zeta);
        }

        &:nth-child(4n + 0),
        &:nth-child(4n + 1) {
          ::ng-deep .item {
            border-top-color: var(--color-epsilon);
          }
        }
      }
    }

    @media screen and (min-width: $lg-min-screen) {
      column-gap: 20px;
      display: grid;
      grid-template-columns: repeat(3, 25%);
      row-gap: 20px;
      justify-content: center;


      .last {
        display: block;
      }

      app-statistic-item {
        &:nth-child(3n + 2) ::ng-deep .item {
          top: 120px;
        }

        &:nth-child(4n + 0),
        &:nth-child(4n + 1) {
          ::ng-deep .item {
            border-top-color: var(--color-zeta);
          }
        }

        &:nth-child(even) ::ng-deep .item {
          border-top-color: var(--color-epsilon);
        }
      }
    }
  }

  &__footer {
    margin: 25px 0 10px;
    padding: 0 10px;
    text-align: center;

    p,
    a {
      font-size: 11px;
    }

    p {
      color: var(--color-delta);
      margin: 3px 0 0;
    }

    a {
      color: var(--color-zeta);
    }
  }
}
