<div class="statistic">
  <div *ngIf="statistic$ | async as statistic; else loader" appContentAnimate>
    <app-header [statistic]="statistic"></app-header>

    <main @scaleIn class="statistic__wrapper">
      <div class="statistic__container">
        <ng-container *ngFor="let item of statistic.data; let isLast = last">
          <div *ngIf="isLast"></div>
          <app-statistic-item [item]="item"></app-statistic-item>
        </ng-container>
      </div>
    </main>

    <footer class="statistic__footer">
      <p class="transition">
        Відкритий Український хаб даних з доступом по Web та API @
        <a href="https://github.com/uadata" target="_blank">uadata.net</a>
      </p>
    </footer>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
